<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>RestDeneme3</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Jersey RESTful Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
<!-- 		<init-param>
			<param-name>org.glassfish.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.huseyinaydin.filter.PoweredByResponseFilter</param-value>
		</init-param> -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.huseyinaydin</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.huseyinaydin.filter.RequestFilter;</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>com.huseyinaydin.filter.ResponseFilter;com.huseyinaydin.filter.SecurityFilter2;</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey RESTful Application</servlet-name>
		<url-pattern>/webapi/*</url-pattern>
	</servlet-mapping>
</web-app>